<div class="card">
  <div class="card-header">
    <span class="card-title font-weight-bolder">{{ title }}</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="card border-secondary mb-3">
          <div class="card-header">Credentials</div>
          <div class="card-body text-secondary">
            <h5 class="card-title"><small>Select Credential</small></h5>

            <div class="form-group row">
              <div class="col-12">
                <dx-select-box
                  [dataSource]="credentials"
                  displayExpr="name"
                  [searchMode]="'contains'"
                  [searchExpr]="['name', 'credentialCode']"
                  [minSearchLength]="1"
                  [searchEnabled]="true"
                  [showDataBeforeSearch]="true"
                  [showClearButton]="true"
                  [(ngModel)]="selectedCredential"
                  (selectedItemChange)="onSelectionChanged($event)"
                  itemTemplate="data"
                >
                  <div *dxTemplate="let item of 'data'">
                    <div>{{ item.credentialCode }} - {{ item.name }}</div>
                  </div>
                </dx-select-box>
              </div>
            </div>
            <button class="btn btn-outline-secondary float-right" (click)="create()">New</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="card border-secondary mb-3" *ngIf="credential">
          <div class="card-header">Details</div>
          <div class="card-body text-secondary">
            <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form.value)">
              <div class="form-group row">
                <label for="name" class="col-3 col-form-label">Name</label>
                <div class="col-9">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Credential Name (required)"
                    required
                    [(ngModel)]="credential.name"
                    [ngClass]="{ error: name.invalid && name.dirty }"
                    #name="ngModel"
                  />
                  <em *ngIf="name.invalid && name.dirty">Required</em>
                </div>
              </div>

              <div class="form-group row">
                <label for="credentialCode" class="col-3 col-form-label">Credential Code</label>
                <div class="col-9">
                  <input
                    type="text"
                    class="form-control"
                    id="credentialCode"
                    name="credentialCode"
                    placeholder="Credential Code (required)"
                    [(ngModel)]="credential.credentialCode"
                    required
                    #credentialCode="ngModel"
                    [ngClass]="{ error: credentialCode.invalid && credentialCode.dirty }"
                  />
                  <em *ngIf="credentialCode.invalid && credentialCode.dirty">Required</em>
                </div>
              </div>

              <div class="form-group row">
                <label for="credentialTypeId" class="col-3 col-form-label">Credential Type</label>
                <div class="col-9">
                  <select
                    class="form-control"
                    [(ngModel)]="credential.credentialTypeId"
                    name="credentialTypeId"
                    id="credentialTypeId"
                    required
                    [ngClass]="{ error: credentialTypeId.invalid && credentialTypeId.dirty }"
                    #credentialTypeId="ngModel"
                  >
                    <option [ngValue]="null">-- Select Credential Type --</option>
                    <option *ngFor="let type of credentialTypes" [value]="type.id">{{
                      type.name
                    }}</option>
                  </select>
                  <em *ngIf="credentialTypeId.invalid && credentialTypeId.dirty">Required</em>
                </div>
              </div>

              <div class="form-group row">
                <label for="beginYear" class="col-3 col-form-label">Begin Year</label>
                <div class="col-9">
                  <select
                    class="form-control"
                    [(ngModel)]="credential.beginYear"
                    name="beginYear"
                    id="beginYear"
                    required
                    [ngClass]="{ error: beginYear.invalid && beginYear.dirty }"
                    #beginYear="ngModel"
                  >
                    <option [ngValue]="null">-- Select Year --</option>
                    <option *ngFor="let year of schoolYears | async" [value]="year.year">{{
                      year.year
                    }}</option>
                  </select>
                  <em *ngIf="beginYear.invalid && beginYear.dirty">Required</em>
                </div>
              </div>

              <div class="form-group row">
                <label for="endYear" class="col-3 col-form-label">End Year</label>
                <div class="col-9">
                  <select
                    class="form-control"
                    [(ngModel)]="credential.endYear"
                    name="endYear"
                    id="endYear"
                    [ngClass]="{ error: endYear.invalid && endYear.dirty }"
                    #endYear="ngModel"
                  >
                    <option [ngValue]="null">-- Select Year --</option>
                    <option *ngFor="let year of schoolYears | async" [value]="year.year">{{
                      year.year
                    }}</option>
                  </select>
                  <em *ngIf="endYear.invalid && endYear.dirty">Required</em>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-6">
                  <button
                    class="btn btn-outline-secondary btn-block"
                    [hidden]="form.pristine"
                    type="button"
                    (click)="cancel(form)"
                  >
                    Cancel
                  </button>
                </div>
                <div class="col-6">
                  <button
                    class="btn btn-primary btn-block"
                    [disabled]="form.invalid || form.pristine"
                    type="submit(form)"
                  >
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card border-secondary mb-3" *ngIf="credential">
          <div class="card-header">Assigned Programs</div>
          <div class="card-body text-secondary">
            <div *ngIf="!credentialPrograms">
              No programs assigned
            </div>

            <div *ngIf="credentialPrograms">
              <dx-list
                [dataSource]="credentialPrograms"
                [height]="400"
                [searchEnabled]="true"
                searchExpr="name"
                searchMode="contains"
              >
                <div *dxTemplate="let data of 'item'">
                  <div>{{ data.programName }} ({{ data.programCode }})</div>
                </div>
              </dx-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
