<div class="card">
  <div class="card-header">
    <span class="card-title font-weight-bolder">{{ title }}</span>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-6">
        <div class="card border-secondary mb-3">
          <div class="card-header">Programs

          </div>
          <div class="card-body text-secondary">
            <h5 class="card-title"><small>Select Program</small>
            </h5>

            <div class="form-group row">
              <div class="col-12">

                <dx-select-box [dataSource]="programs"
                               displayExpr="programName"
                               [searchMode]="'contains'"
                               [searchExpr]="['programName', 'programCode']"
                               [minSearchLength]="1"
                               [searchEnabled]="true"
                               [showDataBeforeSearch]="true"
                               [showClearButton]="true"
                               (selectedItemChange)="onSelectionChanged($event)"
                               itemTemplate="data">
                  <div *dxTemplate="let item of 'data'">
                    <div>{{ item.programName }} - {{ item.programCode }}</div>
                  </div>
                </dx-select-box>
              </div>
            </div>
            <button class="btn btn-outline-secondary float-right"
                    (click)="create()">New</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="program"
         class="row">
      <div class="col-6">
        <div class="card border-secondary mb-3">
          <div class="card-header">Details</div>
          <div class="card-body text-secondary">

            <form novalidate
                  #form="ngForm"
                  (ngSubmit)="onSubmit(form.value)">

              <div class="form-group row">
                <label for="name"
                       class="col-3 col-form-label">Name</label>
                <div class="col-9">
                  <input type="text"
                         class="form-control"
                         id="name"
                         name="name"
                         placeholder="Program Name (required)"
                         [class.field-error]="name.touched &&
                      name.invalid"
                         [(ngModel)]="program.name"
                         required
                         #name="ngModel" />
                  <div [hidden]="name.valid"
                       class="alert alert-danger">
                    Enter a name
                  </div>
                </div>
              </div>


              <div class="form-group row">
                <label for="programCode"
                       class="col-3 col-form-label">Program Code</label>
                <div class="col-9">
                  <input type="text"
                         class="form-control"
                         id="programCode"
                         name="programCode"
                         placeholder="Program Code (required)"
                         [(ngModel)]="program.programCode"
                         required
                         minlength="3"
                         #programCode="ngModel" />
                </div>
              </div>


              <div class="form-group row">
                <label for="programTypeId"
                       class="col-md-3 col-form-label">Program Type</label>
                <div class="col-md-9">
                  <select class="form-control"
                          [(ngModel)]="program.programTypeId"
                          name="programTypeId"
                          #programTypeId="ngModel">
                    <option *ngFor="let item of programTypes"
                            [value]="item.id">{{
                  item.name
                }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="clusterId"
                       class="col-md-3 col-form-label">Cluster</label>
                <div class="col-md-9">
                  <select class="form-control"
                          [(ngModel)]="program.clusterId"
                          name="clusterId"
                          #programTypeId="ngModel">
                    <option *ngFor="let item of clusters"
                            [value]="item.id">{{
                  item.name
                }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">

                <div class="col-6">
                  <label for="beginYear"
                         class="col-form-label">Begin Service</label>

                  <select class="form-control"
                          [(ngModel)]="program.beginYear"
                          name="beginYear"
                          #beginYear="ngModel">
                    <option *ngFor="let year of schoolYears"
                            [value]="year.year">{{
                  year.year
                }}</option>
                  </select>

                </div>
                <div class="col-6">
                  <label for="endYear"
                         class="col-form-label">End Service</label>

                  <select class="form-control"
                          [(ngModel)]="program.endYear"
                          name="endYear"
                          #endYear="ngModel">
                    <option *ngFor="let year of schoolYears"
                            [value]="year.year">{{
                  year.year
                }}</option>
                  </select>

                </div>

              </div>

              <div class="form-group row">
                <div class="col-6">
                  <button class="btn btn-outline-secondary btn-block"
                          [hidden]="form.pristine"
                          type="button"
                          (click)="cancel(form)">Cancel</button>

                </div>
                <div class="col-6">
                  <button class="btn btn-primary btn-block"
                          [disabled]="form.invalid || form.pristine"
                          type="submit(form)">Save</button>

                </div>

              </div>

            </form>

          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card border-secondary mb-3">
          <div class="card-header">Assigned Credentials</div>
          <div class="card-body text-secondary">
            <div class="col-12">


              <div class="input-group mb-3">
                <dx-select-box [dataSource]="credentials"
                               displayExpr="name"
                               [searchMode]="'contains'"
                               [searchExpr]="['name', 'credentialCode']"
                               [minSearchLength]="1"
                               [searchEnabled]="true"
                               [showDataBeforeSearch]="true"
                               [showClearButton]="true"
                               itemTemplate="data"
                               #credentialList>
                  <div *dxTemplate="let item of 'data'">
                    <div>{{ item.name }} - {{ item.credentialCode }}</div>
                  </div>
                </dx-select-box>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary"
                          type="button"
                          id="button-addon2"
                          (click)="addCred(credentialList)">Add Credential</button>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div *ngIf="!programCreds">
                No credentials assigned
              </div>

              <div *ngIf="programCreds">
                <dx-list #list
                         [dataSource]="programCreds"
                         [height]="400"
                         [searchEnabled]="true"
                         searchExpr="name"
                         searchMode="contains"
                         [allowItemDeleting]="true"
                         (onItemDeleting)="removeCred($event)">
                  <div *dxTemplate="let data of 'item'">
                    <div>{{data.name}}</div>
                  </div>
                </dx-list>
              </div>
            </div>

          </div>
        </div>


      </div>

      <div class="col-6">
        <div class="card border-secondary mb-3"
             v-bind:class="{'border-danger':errors.any()}">
          <div class="card-header">Assigned Courses</div>
          <div class="card-body text-secondary">

            <div class="col-12">

              <div class="input-group mb-3">
                <dx-select-box #courseList
                               [dataSource]="courses"
                               displayExpr="name"
                               [searchMode]="'contains'"
                               [searchExpr]="['name', 'courseCode']"
                               [minSearchLength]="1"
                               [searchEnabled]="true"
                               [showDataBeforeSearch]="true"
                               [showClearButton]="true"
                               itemTemplate="data">
                  <div *dxTemplate="let item of 'data'">
                    <div>{{ item.name }} - {{ item.courseCode }}</div>
                  </div>
                </dx-select-box>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary"
                          type="button"
                          id="btnAddCourse"
                          name="btnAddCourse"
                          (click)="addCourse(courseList)">Add Course</button>
                </div>
              </div>
            </div>

            <div class="
                          col-12">
              <div *ngIf="!programCourses">
                No courses assigned
              </div>


              <div *ngIf="programCourses">
                <dx-list [dataSource]="programCourses"
                         [height]="400"
                         [searchEnabled]="true"
                         searchExpr="name"
                         searchMode="contains"
                         [allowItemDeleting]="true"
                         (onItemDeleting)="removeCourse($event)">
                  <div *dxTemplate="let data of 'item'">
                    <div>{{data.name}}</div>
                  </div>
                </dx-list>
              </div>

            </div>

            <!-- <ul class="list-group" v-if="programCourses">
              <li class="list-group-item" *ngFor="course in programCourses">
                <div class="row">
                  <div class="col-9">
                    <div class="font-weight-bolder">
                      <span>
                        <a v-bind:href="'/careertech/courses/'+ course.courseCode">
                          {{ course.name }} ({{ course.courseCode }})
                        </a>
                      </span>
                    </div>
                  </div>
                  <div class="col-3">
                    <button class="btn btn-danger btn-sm float-right" v-on:click="removeCourse(course)">
                      Delete
                    </button>
                  </div>
                </div>
              </li>
            </ul> -->

          </div>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-12">
        <pre>

          </pre>
      </div>
    </div>

  </div>
</div>