
@{
    ViewBag.Title = "Credentials";
}

<h2>Credentials</h2>

<style>
    [v-cloak] {
        display: none;
    }
</style>


<div id="app" v-cloak>

    <div class="row">
        <div class="col-6">
            <fieldset>
                <legend>Credentials</legend>
                <div class="form-group row">
                    <label for="selectedCredential" class="col-md-2 col-form-label">Credentials</label>
                    <div class="col-md-8">
                        <select class="form-control"
                                v-model="selectedCredential"
                                v-on:change="onChange($event)"
                                name="selectedCredential" id="selectedCredential">
                            <option :value="null">-- Select Credential --</option>
                            <option v-for="item in credentials" :value="item">{{ item.name }} ({{ item.credentialCode }})</option>
                        </select>
                    </div>


                </div>

                <div v-if="!credential">
                    <h4>Select a credential to edit</h4>
                </div>

                <form novalidate v-on:submit.prevent="submit()" v-if="credential">

                    <div class="form-group row">
                        <label for="credentialCode" class="col-md-2 col-form-label">Credential Code</label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="credentialCode"
                                   name="credentialCode"
                                   placeholder="Credential Code (required)"
                                   v-model="credential.credentialCode"
                                   minlength="3" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="credentialName" class="col-md-2 col-form-label">Name</label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="credentialName"
                                   name="credentialName"
                                   placeholder="Credential Name (required)"
                                   v-model="credential.name"
                                   minlength="3" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="credentialTypeId" class="col-md-2 col-form-label">Credential Type</label>
                        <div class="col-md-8">
                            <select class="form-control"
                                    v-model="credential.credentialTypeId"
                                    name="credentialTypeId"
                                    id="credentialTypeId">
                                <option :value="null">-- Select Credential Type --</option>
                                <option v-for="type in credentialTypes" :value="type.id">{{ type.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="beginYear" class="col-md-2 col-form-label">Begin Year</label>
                        <div class="col-md-8">
                            <select class="form-control"
                                    v-model="credential.beginYear"
                                    name="beginYear"
                                    id="beginYear">
                                <option :value="null">-- Select Year --</option>
                                <option v-for="year in schoolYears" :value="year.year">{{ year.year }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="endYear" class="col-md-2 col-form-label">End Year</label>
                        <div class="col-md-8">
                            <select class="form-control"
                                    v-model="credential.endYear"
                                    name="endYear"
                                    id="endYear">
                                <option :value="null">-- Select Year --</option>
                                <option v-for="year in schoolYears" :value="year.year">{{ year.year }}</option>
                            </select>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Save Credential</button>
                </form>

            </fieldset>

        </div>


        <div class="col-6">
            <fieldset v-if="credential">
                <legend>
                    Assigned Programs
                </legend>
                <div class="row">
                    <div class="col-12">
                        <p>

                            <div v-if="programs.length === 0">
                                No programs assigned
                            </div>

                            <ul class="list-group" v-if="programs.length > 0">
                                <li class="list-group-item" v-for="program in programs">
                                    <div class="text-muted">Cluster: {{ program.clusterName}}</div>
                                    <div class="font-weight-bolder">
                                        <span>
                                            <a v-bind:href="'/careertech/programs/'+ program.programCode">
                                                {{ program.programName }} ({{ program.programCode }})
                                            </a>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>

</div>


@section scripts{
    <script>
        var careerTechUrl = '/api/careertech/';
        var courseUrl = '/api/courses/';
        var refUrl = '/api/ref/';

        var app = new Vue({
            el: '#app',
            data: {
                selectedCredential: null,
                credential: null,
                credentials: [],
                schoolYears: [],
                credentialTypes: [],
                programs: [],
            },
            methods: {
                submit: function (e) {
                    axios.put(careerTechUrl + 'credentials', this.credential)
                        .then(resp => {
                            var e = this.credentials.find(x => x.id === resp.data.id);
                            this.selectedCredential.name = resp.data.name;
                            this.selectedCredential.credentialCode = resp.data.credentialCode;
                        });
                },

                onChange: function (e) {
                    var url = careerTechUrl + 'credentials/' + this.selectedCredential.credentialCode;

                    axios.get(url + '/edit').then(resp => {
                        this.credential = resp.data;
                    }).then(resp => {
                        axios.get(url + '/programs').then(resp => {
                            this.programs = resp.data;
                        }).catch(err => console.log(err));

                    }).catch(err => console.log(err));
                },

            },
            mounted() {

                axios.get(refUrl + 'credentials').then(resp => {
                    this.credentials = resp.data;
                }).catch(err => console.log(err));

                axios.get(refUrl + 'schoolyears').then(resp => {
                    this.schoolYears = resp.data;
                }).catch(err => console.log(err));

                axios.get(refUrl + 'credentialTypes').then(resp => {
                    this.credentialTypes = resp.data;
                }).catch(err => console.log(err));

            }
        })
    </script>
}

