@{
    ViewBag.Title = "Programs";
}

<style>
    [v-cloak] {
        display: none;
    }
</style>
@Html.Partial("_CareerTechNav")

<div id="app" v-cloak>

    <div class="row">
        <div class="col-6">
            <fieldset>
                <legend>Programs</legend>

                <div class="form-group row">
                    <label for="selectedProgram" class="col-md-2 col-form-label">Programs</label>
                    <div class="col-md-8">
                        <select class="form-control"
                                v-model="selectedProgram"
                                v-on:change="onChange($event)"
                                name="selectedProgram" id="selectedProgram">
                            <option :value="null">-- Select Program --</option>
                            <option v-for="p in programs" :value="p">
                                {{ p.programName }} ({{ p.programCode }})
                            </option>
                        </select>
                    </div>
                </div>

                <div v-if="!program">
                    <h4>Select a Program to edit</h4>
                </div>

                <form novalidate v-on:submit.prevent="submit()" v-if="program">

                    <div class="form-group row">
                        <label for="programCode" class="col-md-2 col-form-label">Program Code</label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="programCode"
                                   name="programCode"
                                   placeholder="Program Code (required)"
                                   v-model="program.programCode"
                                   minlength="3" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="programName" class="col-md-2 col-form-label">Name</label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="programName"
                                   name="programName"
                                   placeholder="Program Name (required)"
                                   v-model="program.name"
                                   minlength="3" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="clusterId" class="col-md-2 col-form-label">Cluster</label>
                        <div class="col-md-8">
                            <select class="form-control" v-model="program.clusterId"
                                    name="clusterId"
                                    id="clusterId">
                                <option :value="null">-- Select Cluster --</option>
                                <option v-for="cluster in clusters" :value="cluster.id">
                                    {{ cluster.name }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="programTypeId" class="col-md-2 col-form-label">Program Type</label>
                        <div class="col-md-8">
                            <select class="form-control" v-model="program.programTypeId" name="programTypeId" id="programTypeId">
                                <option :value="null">-- Select Program Type --</option>
                                <option v-for="type in programTypes" :value="type.id">
                                    {{ type.name }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="beginYear" class="col-md-2 col-form-label">Begin Year</label>
                        <div class="col-md-8">
                            <select class="form-control"
                                    v-model="program.beginYear"
                                    name="beginYear"
                                    id="beginYear">
                                <option :value="null">-- Select Year --</option>
                                <option v-for="year in schoolYears" :value="year.year">{{ year.year }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="endYear" class="col-md-2 col-form-label">End Year</label>
                        <div class="col-md-8">
                            <select class="form-control"
                                    v-model="program.endYear"
                                    name="endYear"
                                    id="endYear">
                                <option :value="null">-- Select Year --</option>
                                <option v-for="year in schoolYears" :value="year.year">{{ year.year }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="isNonTraditionalForFemales" v-model="program.isNonTraditionalForFemales">
                            <label class="form-check-label" for="isNonTraditionalForFemales">
                                Non Traditional Females
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="isNonTraditionalForMales" v-model="program.isNonTraditionalForMales">
                            <label class="form-check-label" for="isNonTraditionalForMales">
                                Non Traditional Males
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="isProgramReviewed" v-model="program.isProgramReviewed">
                            <label class="form-check-label" for="isProgramReviewed">
                                Program Reviewed
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="doSupplementalReview" v-model="program.doSupplementalReview">
                            <label class="form-check-label" for="doSupplementalReview">
                                Do Supplemental Review
                            </label>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Save Program</button>
                </form>

            </fieldset>

        </div>

        <div class="col-6">
            <fieldset v-if="program">
                <legend>
                    Assigned Credentials
                </legend>
                <div class="row">
                    <div class="col-12">
                        <p>

                            <div class="input-group mb-3">
                                <select class="form-control"
                                        v-model="selectedCredential"
                                        name="selectedCredential"
                                        id="selectedCredential">
                                    <option :value="null">-- Select Credential --</option>
                                    <option v-for="item in credentials" :value="item">{{ item.name }} ({{ item.credentialCode }})</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" v-on:click="addCredential">Add Credential</button>
                                </div>
                            </div>

                            <div v-if="programCredentials.length === 0">
                                No credentials assigned
                            </div>

                            <ul class="list-group" v-if="programCredentials.length > 0">
                                <li class="list-group-item" v-for="credential in programCredentials">
                                    <div class="row">
                                        <div class="col-9">
                                            {{ credential.name }} ({{ credential.credentialCode }})
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-danger btn-sm float-right" v-on:click="deleteCredential(credential)">Delete</button>

                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </p>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-6">
            <fieldset v-if="selectedProgram">
                <legend>
                    Assigned Courses
                </legend>
                <div class="row">
                    <div class="col-12">

                        <p>
                            <div class="input-group mb-3">
                                <select class="form-control"
                                        v-model="selectedCourse"
                                        name="selectedCourse"
                                        id="selectedCourse">
                                    <option :value="null">-- Select Course --</option>
                                    <option v-for="item in courses" :value="item">{{ item.courseCode }} ({{ item.name }})</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" v-on:click="addCourse">Add Course</button>
                                </div>
                            </div>

                            <div v-if="programCourses.length === 0">
                                No courses assigned
                            </div>

                            <ul class="list-group" v-if="programCourses.length > 0">
                                <li class="list-group-item" v-for="course in programCourses">
                                    <div class="row">
                                        <div class="col-9">
                                            {{ course.name }} ({{ course.courseCode }})
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-danger btn-sm float-right" v-on:click="removeCourse(course)">Delete</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </p>

                    </div>
                </div>
            </fieldset>
        </div>
    </div>

</div>


@section scripts{
    <script>
        var careerTechUrl = '/api/careertech/';
        var courseUrl = '/api/courses/';
        var refUrl = '/api/ref/';

        var app = new Vue({
            el: '#app',
            data: {
                selectedProgram: null,
                program: null,
                programs: [],
                clusters: [],
                programTypes: [],
                schoolYears: [],
                credentials: [],
                courses: [],
                programCredentials: null,
                programCourses: [],
                selectedCourse: null,
                selectedCredential: null,
            },
            methods: {
                submit: function (e) {

                    axios.put(careerTechUrl + 'programs', this.program)
                        .then(resp => {
                            this.selectedProgram.programName = this.program.name;
                            this.selectedProgram.programCode = this.program.programCode;
                        });
                },

                onChange: function (e) {
                    var programCode = this.selectedProgram.programCode;
                    var fetch = careerTechUrl + 'programs/' + programCode + '/edit';
                    var fetchCredentials = careerTechUrl + 'programs/' + programCode + '/credentials';
                    var courseUrl = careerTechUrl + 'programs/' + programCode + '/courses';

                    axios.get(fetch)
                        .then(resp => {
                            this.program = resp.data;
                        }).then(resp => {
                            axios.get(courseUrl).then(resp => {
                                this.programCourses = resp.data;
                            }).catch(err => console.log(err));
                        }).then(resp => {

                            axios.get(fetchCredentials).then(resp => {
                                this.programCredentials = resp.data;
                            }).catch(err => console.log(err));

                        });
                },

                deleteCredential: function (credential) {
                    var idx = this.programCredentials.indexOf(credential);
                    var url = careerTechUrl +
                        'programs/' +
                        this.selectedProgram.programCode +
                        '/credential/' +
                        credential.credentialCode;
                    axios.delete(url)
                        .then(resp => {
                            this.programCredentials.splice(idx, 1);
                        });
                },

                addCredential: function () {
                    var url = careerTechUrl +
                        'programs/' +
                        this.selectedProgram.programCode +
                        '/credential/' +
                        this.selectedCredential.credentialCode;
                    axios.post(url)
                        .then(resp => {
                            var dto = resp.data;
                            this.programCredentials.push(dto);
                        });
                },

                addCourse: function () {
                    var url = careerTechUrl +
                        'programs/' +
                        this.selectedProgram.programCode +
                        '/course/' +
                        this.selectedCourse.courseCode;
                    axios.post(url)
                        .then(resp => {
                            var dto = resp.data;
                            this.programCourses.push(dto);
                        }).catch(err => console.log(err));;
                },

                removeCourse: function (course) {
                    var idx = this.programCourses.indexOf(course);
                    var url = careerTechUrl +
                        'programs/' +
                        this.selectedProgram.programCode +
                        '/course/' +
                        course.courseCode;
                    axios.delete(url)
                        .then(resp => {
                            this.programCourses.splice(idx, 1);
                        }).catch(err => console.log(err));;
                }

            },
            mounted() {
                var courseOptions = '?loadOptions.filter=isActive%3Dtrue&loadOptions.remoteSelect=true';

                axios.get(refUrl + 'schoolyears').then(resp => {
                    this.schoolYears = resp.data;
                }).catch(err => console.log(err));

                axios.get(refUrl + 'clusters').then(resp => {
                    this.clusters = resp.data;
                }).catch(err => console.log(err));

                axios.get(refUrl + 'programs').then(resp => {
                    this.programs = resp.data;
                }).catch(err => console.log(err));

                axios.get(refUrl + 'programTypes').then(resp => {
                    this.programTypes = resp.data;
                }).catch(err => console.log(err));

                axios.get(refUrl + 'credentials').then(resp => {
                    this.credentials = resp.data;
                }).catch(err => console.log(err));

                axios.get(courseUrl + courseOptions).then(resp => {
                    this.courses = resp.data.data;
                }).catch(err => console.log(err));
            }
        });
    </script>
}



