@{
    ViewBag.Title = "Home Page";
}

<base href="/courses" />
@Styles.Render("~/css/courses")


<app-root></app-root>


@Scripts.Render("~/bundles/courses")

@section scripts{

}


@*<div class="card">
        <div class="card-header">
            <span class="card-title font-weight-bolder">Courses</span>
        </div>
        <div class="card-body">

            <div class="row">

                <div id="grid"></div>

            </div>
        </div>

    </div>
    @section scripts{
        <script src="~/js/app/course.module.js"></script>
    }*@
